body{
    color: rgb(0, 0, 0);
    background-color: rgba(243, 160, 236, 0.952);
}
*{
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    width: 350px;
    margin: 10px auto;
    border: 3px solid;
}

div{
    text-align: center;
    width: 320px;
    margin: 10px auto;
    /*border: 3px solid;*/
}

div.list{
    border-color: var(--text-color);
    border: 2px solid;
}

div.buscando{
    text-align: center;
    width: 320px;
    margin: 10px auto;
    border: 2px solid;
}
p1{
    font-size: large;
    font-style:initial;
padding-left: 6%;
}

